# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
*.gz

# Files from Forge MDK
forge*changelog.txt

# Referrences
0ld-DoomlikeDungeons-1.12.2
ExampleMod
tmp

