#Each line is has the following components:
#label type name data
#
#label is what you use to add it to an itam or combine it with othe tags (must be unique)
#type is the NBT data type -- and valid type but list can be used
#name is the name of the data field in the NBT file
#data is what it holds
#
#I'm not giving a full NBT course here -- I'm just learning that myself, but below are some examples.
#More info can be found online in places such as the Minecraft Wiki
#This is a good start: http://minecraft.gamepedia.com/Player.dat_format#Item_structure
#
#Whether or not this might latter be applicable to blocks or mobs has not been decided; 
#For now NBT can only be used for loot items.
#
#WARNING: This can be easy to mess-up, and there is no error checking (but the game may crash on start-up)


#Basic Potions
HEALTH1 String Potion healing
HEALTH2 String Potion strong_healing
REGEN1  String Potion regeneration
REGEN2  String Potion strong_regeneration
REGENX  String Potion long_regeneration

#An Easter Egg to show how for this can really go...
FORTUNE Byte id  35
UNBREAK Byte id  34
EFF     Byte id  32
LVL3    Byte lvl 3
LVL4    Byte lvl 4
LVL5    Byte lvl 5
ETERNAL Byte Unbreakable 1

EEGG1   Compound Fortune FORTUNE,LVL3
EEGG2   Compound Unbreaking UNBREAKING,LVL4
EEGG3   Compound Efficiency EFF,LVL5
EEGG4   Compound ench EEGG1,EEGG2,EEGG3
EEGG5   String   Name "Fortuna Major"
EEGG6   Compound display EEGG5
EEGG6   Compound display EEGG5

HAPPYEASTER Group EasterEgg EEGG6,EEGG4,ETERNAL
